<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="anacle">
      <section name="dataFramework" type="Anacle.DataFramework.Configuration.DataFrameworkSection, Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"/>
      <section name="uiFramework" type="Anacle.UIFramework.Configuration.UIFrameworkSection, Anacle.UIFramework, Version=6.0.0.0, Culture=neutral"/>
      <section name="workflowFramework" type="Anacle.WorkflowFramework.Configuration.WorkflowFrameworkSection, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"/>
    </sectionGroup>
  </configSections>
  <anacle>
    <!--
      =======================================================================
        Data Framework Settings
        
        1. logPath
           Indicates where the log files for the DataFramework will be 
           output to. Leave this entry blank to disable logging.
       
        2. dbProvider
           Indicates the provider that will be used for the .NET DbFactory 
           classes to access the database.

        2. imports
           Contains a list of all namespaces that will be imported
           during the compilation of the derived PersistentObject classes.  
        
        3. assemblies
           Contains a list of all assemblies that will be referenced
           in during the compilation of the derived PersistentObject classes.
           
      =======================================================================
    -->
    <dataFramework logPath="c:\log\servicelog-{0:yyyy-MM-dd}.txt" dbProvider="System.Data.SqlClient">
      <imports>
        <add namespace="Anacle.WorkflowFramework"></add>
      </imports>
      <assemblies>
        <add name="Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
      </assemblies>
    </dataFramework>
    <!--
      =======================================================================
        UI Framework Settings
        
        1. ajax/enable (True|False)
           Indicates whether AJAX should be enabled for the application.

        2. ajax/updateProgressContent
           The HTML content to display in the UpdateProgress panel
           during a partial postback.
	    
           Use 
              the {0} parameter to place the filename for the loading image.
              the {1} parameter to place the localized text for 'Please Wait...'
    
           Use '[' to represent the '<' and the ']' to represent the '>' characters, 
           because we are not allowed the enter the '<' and '>' in the web.config file.
           
        3. ajax/updateProgressImage
           Specifies the loading image URL to be displayed when with the 
           AjaxUpdateProgressContent is shown.
           
        4. cache/cacheFolder
           Specifies the cache folder that will be used to store temporary
           data used by the UI Framework.
      =======================================================================
    -->
    <uiFramework>
      <ajax enable="True" updateProgressContent="[table style='width:130px; height: 30px; background-color:white; border: solid 1px silver'][tr][td align='center' valign='middle'][img src='{0}' border='0' align='absmiddle'/] [b]{1}[/b][/td][/tr][/table]" updateProgressImage="~/images/ajaxloader.gif"/>
      <cache cacheFolder="c:\temp\"/>
    </uiFramework>
    <!--
      =======================================================================
        Workflow Framework Settings
        
        1. workflowEngineType
           Indicates the type of the workflow engine that will be used to
           host and execute all the workflows for the system. Currently, 
           the following are available types:
        
           a. WorkflowFramework.WindowsWorkflowEngine, WorkflowFramework

        2. windowsWorkflow/imports
           Contains a list of all namespaces that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.
           
        3. windowsWorkflow/assemblies
           Contains a list of all assemblies that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.
           
      =======================================================================
    -->
    <workflowFramework workflowEngineType="Anacle.WorkflowFramework.WindowsWorkflowEngine, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4">
      <windowsWorkflow eventObjectType="LogicLayer.Events.AnacleEvents, LogicLayer">
        <imports>
          <add namespace="Anacle.DataFramework"></add>
          <add namespace="LogicLayer"></add>
        </imports>
        <assemblies>
          <add name="Anacle.WorkflowActivityLibrary, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="LogicLayer"></add>
        </assemblies>
      </windowsWorkflow>
    </workflowFramework>
  </anacle>
  <appSettings>
    <add key="database" value="server=Arc-Vaio\SQL2008R2; database=abell60-capitaland-ccl; uid=sa; pwd=hc0811" />
    <add key="database_audit" value="server=Arc-Vaio\SQL2008R2; database=abell60-capitaland-ccl; uid=sa; pwd=hc0811"></add>
    <add key="Amos_SG_RCS_Retail" value="server=Arc-Vaio\SQL2008R2; database=abell60_capitaland_rcs_amosstg; uid=sa; pwd=hc0811" />
    <add key="Amos_SG_RCS_Retail_AssetID" value="('57','59')" />
    <add key="Amos_SG_RCS_Office" value="server=Arc-Vaio\SQL2008R2; database=abell60_capitaland_rcs_amosstg; uid=sa; pwd=hc0811" />
    <add key="Amos_SG_RCS_Office_AssetID" value="('56','58')" />
    <add key="VisualGSM" value="server=Jane; database=VGSMDB; uid=sa; pwd=hc0811" />
    <add key="AmosBillHeaderTable" value="[buildfolio_billing_hdr_post_out]" />
    <add key="AmosBillItemTable" value="[buildfolio_billing_items_post_out]" />
    <add key="AmosBillHeaderTableStatus" value="[amos_billing_items_post_in]" />
	  <add key="ServicePatrolInterval" value="30"></add>
	  <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="MailServerName" value="" /> 
    <add key="LicenseKey" value="AE294075752089DE7D688621440E1D6AD142A98B6D1E15FCF0B8BC60FA27A66258DD2B88296C0FADE0FF28B527400831927299C390C553E5004449F5A28AAD18DD644B62C0B57D379B6F83736940D92EEDCE9F6725553E3A101C044D7746D7BABBA069F6490B7EFCE9903655D5D47B74"></add>
  </appSettings>
  <system.serviceModel>
    <bindings />
  </system.serviceModel>
</configuration>

