<?xml version="1.0"?>

<configuration>

    <configSections>
      <sectionGroup name="anacle">
        <section name="dataFramework" type="Anacle.DataFramework.Configuration.DataFrameworkSection, Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4" />
        <section name="workflowFramework" type="Anacle.WorkflowFramework.Configuration.WorkflowFrameworkSection, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4" />
      </sectionGroup>
      <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
            <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          </sectionGroup>
        </sectionGroup>
      </sectionGroup>
    </configSections>
  <anacle>
    <!--
      =======================================================================
        Data Framework Settings
        
        1. logPath
           Indicates where the log files for the DataFramework will be 
           output to. Leave this entry blank to disable logging.
       
        2. dbProvider
           Indicates the provider that will be used for the .NET DbFactory 
           classes to access the database.
           
        3. maximumCacheObjects
           Indicates the maximum number of objects that will be kept
           in the cache that lasts for the scope of the outermost
           connection. This cache is primarily used by the data 
           framework to store single peristent objects loaded 
           by the LoadObject(Guid id, bool includeDeactivatedObject) method.

        4. guidType
           Indicates what type of GUIDs should be generated for the ObjectIDs
           of PersistentObjects. 
           
           Use "Comb" to generate GUIDs that is a function of the system
           time and increments sequentially.
           
           Use "Random" to generate random GUIDs from the SQL Server database
           that is entirely random.

        5. imports
           Contains a list of all namespaces that will be imported
           during the compilation of the derived PersistentObject classes.  
        
        6. assemblies
           Contains a list of all assemblies that will be referenced
           in during the compilation of the derived PersistentObject classes.
           
      =======================================================================
    -->
    <dataFramework logPath="c:\log\weblog-{0:yyyy-MM-dd}.txt" dbProvider="System.Data.SqlClient" guidType="Comb">
      <imports>
        <add namespace="Anacle.WorkflowFramework"></add>
      </imports>
      <assemblies>
        <add name="Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
      </assemblies>
    </dataFramework>
    <!--
      =======================================================================
        Workflow Framework Settings
        
        1. workflowEngineType
           Indicates the type of the workflow engine that will be used to
           host and execute all the workflows for the system. Currently, 
           the following are available types:
        
           a. WorkflowFramework.WindowsWorkflowEngine, WorkflowFramework

        2. windowsWorkflow/imports
           Contains a list of all namespaces that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.
           
        3. windowsWorkflow/assemblies
           Contains a list of all assemblies that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.
           
      =======================================================================
    -->
    <workflowFramework workflowEngineType="Anacle.WorkflowFramework.WindowsWorkflowEngine, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4">
      <windowsWorkflow eventObjectType="LogicLayer.Events.AnacleEvents, LogicLayer">
        <imports>
          <add namespace="Anacle.DataFramework"></add>
          <add namespace="LogicLayer"></add>
        </imports>
        <assemblies>
          <add name="Anacle.WorkflowActivityLibrary, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="LogicLayer"></add>
        </assemblies>
      </windowsWorkflow>
    </workflowFramework>
  </anacle>

  <appSettings>
    <!--
    =======================================================================
      The Anacle.EAM License Key.
    
      If you have been provided a license key from Anacle Systems, 
      copy that key and replace the one in the value here.
    =======================================================================
    -->
    <add key="LicenseKey" value="3F111B661F471414ABC85A775E254DAEECB6D3074B056F8FB6A1298D1CC165F1E60F74C002C705257F39D4EFF5932C4D27B387B4541606C40D986065A23C2328B8CAB13678152589895A4F3BE8E8096829943F89CC508764BD58BBDBE86995957C905BBAA35B1CEC600DB37D97B1DE06ACCB743D745B00A01E89E21510FD433252005D3F318A66730B48CA6E4BCBD3FEE8ABA60E32ACDA7D"></add>
    <!--
    =======================================================================
      The database connection strings.
      
      Remember to set up two separate user accounts:
      Account #1 for "database"
        account name: {databasename}_normal
        public, db_datareader, db_datawriter
      
      Account #2 for "database_readonly"
        account name: {databasename}_readonly
        public, db_datareader
    =======================================================================
    -->
    <add key="database" value="server=arc-vaio\sql2008r2; database=abell60-capitaland-ccl; uid=sa; pwd=hc0811"/>
    <add key="database_readonly" value="server=arc-vaio\sql2008r2; database=abell60-capitaland-ccl; uid=sa; pwd=hc0811"/>
    <add key="database_audit" value="server=arc-vaio\sql2008r2; database=abell60-capitaland-ccl; uid=sa; pwd=hc0811"/>
    <!--
    =======================================================================
      Sets which instance this is for.
      Accepted values: <blank>/MARCOM
    =======================================================================
    -->
    <add key="CustomizedInstance" value="OPS"></add>
    <!--
    =======================================================================
      Sets whether or not to use the windows user logged on name as the name 
      for authentication. This forces the login page to retrieve the LOGON_USER name
      and authenticates against the user database.
      
      If you set this to true, ensure that the Windows Authentication in IIS is enabled,
      and the Anonymous is disabled.
      
      Accepted values: true/false 
    =======================================================================
    -->
    <add key="AuthenticateWithWindowsLogon" value="false"></add>
  </appSettings>
  <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false">

          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          </assemblies>

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

      <pages>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
      </pages>

      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>


    </system.web>

    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>

    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="ScriptModule" />
        <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </modules>
      <handlers>
        <remove name="WebServiceHandlerFactory-Integrated"/>
        <remove name="ScriptHandlerFactory" />
        <remove name="ScriptHandlerFactoryAppServices" />
        <remove name="ScriptResource" />
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
             type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </handlers>
    </system.webServer>

    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>
