<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="anacle">
      <section name="dataFramework" type="Anacle.DataFramework.Configuration.DataFrameworkSection, Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"/>
      <section name="uiFramework" type="Anacle.UIFramework.Configuration.UIFrameworkSection, Anacle.UIFramework, Version=6.0.0.0, Culture=neutral"/>
      <section name="workflowFramework" type="Anacle.WorkflowFramework.Configuration.WorkflowFrameworkSection, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"/>
    </sectionGroup>
  </configSections>
  <anacle>
    <!--
      =======================================================================
        Data Framework Settings

        1. logPath
           Indicates where the log files for the DataFramework will be
           output to. Leave this entry blank to disable logging.

        2. dbProvider
           Indicates the provider that will be used for the .NET DbFactory
           classes to access the database.

        3. maximumCacheObjects
           Indicates the maximum number of objects that will be kept
           in the cache that lasts for the scope of the outermost
           connection. This cache is primarily used by the data
           framework to store single peristent objects loaded
           by the LoadObject(Guid id, bool includeDeactivatedObject) method.

        4. guidType
           Indicates what type of GUIDs should be generated for the ObjectIDs
           of PersistentObjects.

           Use "Comb" to generate GUIDs that is a function of the system
           time and increments sequentially.

           Use "Random" to generate random GUIDs from the SQL Server database
           that is entirely random.

        5. imports
           Contains a list of all namespaces that will be imported
           during the compilation of the derived PersistentObject classes.

        6. assemblies
           Contains a list of all assemblies that will be referenced
           in during the compilation of the derived PersistentObject classes.

      =======================================================================
    -->
    <dataFramework logPath="c:\log\weblog-{0:yyyy-MM-dd}.txt" dbProvider="System.Data.SqlClient" guidType="Comb">
      <imports>
        <add namespace="Anacle.WorkflowFramework"></add>
      </imports>
      <assemblies>
        <add name="Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
      </assemblies>
    </dataFramework>
    <!--
      =======================================================================
        UI Framework Settings

        1. ajax/enable (True|False)
           Indicates whether AJAX should be enabled for the application.

        2. ajax/updateProgressContent
           The HTML content to display in the UpdateProgress panel
           during a partial postback.

           Use
              the {0} parameter to place the filename for the loading image.
              the {1} parameter to place the localized text for 'Please Wait...'

           Use '[' to represent the '<' and the ']' to represent the '>' characters,
           because we are not allowed the enter the '<' and '>' in the web.config file.

        3. ajax/updateProgressImage
           Specifies the loading image URL to be displayed when with the
           AjaxUpdateProgressContent is shown.

        4. cache/cacheFolder
           Specifies the cache folder that will be used to store temporary
           data used by the UI Framework.
      =======================================================================
    -->
    <uiFramework>
      <ajax enable="True" updateProgressContent="[table style='width:130px; height: 30px; background-color:white; border: solid 1px silver'][tr][td align='center' valign='middle'][img src='{0}' border='0' align='absmiddle'/] [b]{1}[/b][/td][/tr][/table]" updateProgressImage="~/images/ajaxloader.gif"/>
      <cache cacheFolder="c:\temp\"/>
    </uiFramework>
    <!--
      =======================================================================
        Workflow Framework Settings

        1. workflowEngineType
           Indicates the type of the workflow engine that will be used to
           host and execute all the workflows for the system. Currently,
           the following are available types:

           a. WorkflowFramework.WindowsWorkflowEngine, WorkflowFramework

        2. windowsWorkflow/imports
           Contains a list of all namespaces that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.

        3. windowsWorkflow/assemblies
           Contains a list of all assemblies that are to be added to the
           Windows Workflow type provider runtime for compilation of
           the .xoml workflows.

      =======================================================================
    -->
    <workflowFramework workflowEngineType="Anacle.WorkflowFramework.WindowsWorkflowEngine, Anacle.WorkflowFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4">
      <windowsWorkflow eventObjectType="LogicLayer.Events.AnacleEvents, LogicLayer">
        <imports>
          <add namespace="Anacle.DataFramework"></add>
          <add namespace="LogicLayer"></add>
        </imports>
        <assemblies>
          <add name="Anacle.WorkflowActivityLibrary, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="Anacle.DataFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d9fb2f42e09229b4"></add>
          <add name="LogicLayer"></add>
        </assemblies>
      </windowsWorkflow>
    </workflowFramework>
  </anacle>

  <appSettings>
    <add key="LicenseKey" value="3F111B661F471414ABC85A775E254DAEECB6D3074B056F8F7214F951927DC1981649CDCCFEA5DA36DC2DE21618B3F440E911C44ED9AC5084B495DD1BA05368C8CE569E2D9B1B2B1AEF46F77397F1313353A3BDD5962CD8890F051B631E71E74A93BC2B42ABB96934AFF7B264F8605EBFDA23F589286829AE9552F4F64BA5972AF732C7ECCEB4EC602F5347D5EB5839D0987D2BB1CF7320D1"></add>
    <!--<add key="database" value="driver={SQL Server};server=192.168.1.12; database=MOE_EAM_Test; uid=MOE_EAM_ReadWrite; pwd=hc0811" />-->
    <add key="database" value="server=thevinh-pc\SQL2008R2; database=simlism10_angroup_demo; uid=sa; pwd=hc0811"/>
    <add key="database_audit" value="server=thevinh-pc\SQL2008R2; database=simlism10_angroup_demo; uid=sa; pwd=hc0811"/>
    <!--<add key="database" value="driver={SQL Server};server=abell\sql2005; database=MOE_EAM; uid=sa; pwd=hc0811" />-->
    <add key="databaseVisualGSM" value="server=abell\sql2005; database=simlism10_angroup_demo; uid=sa; pwd=hc0811" />
    <add key="objectworkflowfilepath" value="objectworkflow.xml"/>
    <add key="SecurityGenerateRandomKey" value="false"/>
    <add key="EnterpriseDataLogPath" value="c:\log\log.txt"/>
    <add key="EnterpriseDataLogLevel" value="All"/>
    <add key="ImageUrl_FixedRateBook" value="~/images/book.png"/>
    <add key="ImageUrl_FixedRateLogical" value="~/images/ogroup.png"/>
    <add key="ImageUrl_FixedRatePhysical" value="~/images/otype.png"/>
    <add key="ImageUrl_ChecklistLogical" value="~/images/ogroup.png"/>
    <add key="ImageUrl_ChecklistPhysical" value="~/images/otype.png"/>
    <add key="ImageUrl_LocationLogical" value="~/images/ogroup.png"/>
    <add key="ImageUrl_LocationPhysical" value="~/images/location.png"/>
    <add key="ImageUrl_EquipmentLogical" value="~/images/ogroup.png"/>
    <add key="ImageUrl_EquipmentPhysical" value="~/images/otype.png"/>
    <add key="ImageUrl_ObjectGroup" value="~/images/ogroup.png"/>
    <add key="ImageUrl_ObjectType" value="~/images/otype.png"/>
    <add key="ImageUrl_TaskFolder" value="~/images/folder.png"/>
    <add key="ImageUrl_TaskItem" value="~/images/document_add.png"/>
    <add key="LoginPage_UICulture" value="en-US"></add>
    <add key="ChartDisplayVirtualPath" value="~/components/chartdisplay.aspx"></add>
    <add key="SessionPageStatePersister" value="true"/>
    <add key="AnJax" value="false"/>
    <add key="EmailSender" value="admin@eam.com"/>
    <add key="ReportPDFFormatPhysicalPath" value="\components\reportgrid.rpt"></add>
    <add key="ReportTempFolder" value="c:\temp\"/>
    <add key="StartingFinancialMonth" value="4"/>
    <add key="TaxCode" value="GST7"/>
    <add key="ChargeTypeInterest" value="Interest"/>
    <add key="ChargeTypeInterestLumpSum" value="Interest Lump Sum"/>
    <add key="ChargeTypeDeposit" value="Deposit"/>
    <add key="ChargeTypeStampFee" value="Stamp Fee"/>
    <add key="ChargeTypeCommissionRefund" value="Commission Refund"/>
  </appSettings>

</configuration>